.new-item {
  background-image: url('https://images.pexels.com/photos/1884584/pexels-photo-1884584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  height: 100%; /* Exatamente 100% da altura da janela */
  width: 100%; /* Garante que cobre 100% da largura */
  display: flex; /* Habilita Flexbox */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  position: relative; /* Garante que o contêiner seja relativo */
  overflow: hidden; /* Evita rolagem interna */
  padding-top: 10px;
  padding-bottom: 10px;
}
