.reviews-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;

  h2 {
    text-align: center;
    color: #ff204e;
    margin-bottom: 20px;
  }

  #reviews-carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;

      .review-rating {
        font-size: 1.2rem;
        font-weight: bold;
        color: #ff204e;
        margin-bottom: 10px;
      }

      .review-comment {
        font-style: italic;
        color: #717171;
        margin-bottom: 10px;
      }

      .review-author {
        font-size: 0.9rem;
        color: #717171;
      }
    }
  }
