$red: #FF204E;
$black: black;
$grey: #717171;
$lightgrey: #E6E5E5;


.alert {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  background-color: $red;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 250px;
  max-width: 500px;
  width: auto;
  word-wrap: break-word; /* adjust text in case its too long */
  display: flex;
  align-items: center;
  justify-content: center;
}
