// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$red: #FF204E;
$black: black;
$grey: #717171;
$lightgrey: #E6E5E5;


h1 {
  font-family: "Montserrat";
  font-weight: 700;
}

h2 {
  font-family: "PT Sans";
  font-weight: 600;
}

h3 {
  font-family: "PT Sans";
}

p {
  font-family: "Hind Madurai";
}

a {
  font-family: "Montserrat";
  text-decoration: none;
}


.red-title {
  color: #FF204E; /* Our Red */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Shadow */
  font-size: 2.5rem; /* Bigger fonts */
  margin-bottom: 20px; /* More space between */
}

.red-button {
  background-color: #FF204E;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.red-button:hover {
  background-color: #E01C46;
  transform: scale(1.05);
}


.red-button:hover {
  background-color: #E01C46;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que ocupem toda a altura da janela */
}

.full-screen-background {
  background-image: url('https://images.pexels.com/photos/1884584/pexels-photo-1884584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  height: 100%; /* Exatamente 100% da altura da janela */
  width: 100%; /* Garante que cobre 100% da largura */
  display: flex; /* Habilita Flexbox */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  position: relative; /* Garante que o contêiner seja relativo */
  overflow: hidden; /* Evita rolagem interna */
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  height: auto; /* Altura automática */
}

.form-label {
  color: rgb(5, 5, 5);
  font-weight: bold;
}


.form-control {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
}
