// Graphical variables
@import "components/items";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$red: #FF204E;
$black: black;
$grey: #717171;
$lightgrey: #E6E5E5;


h1 {
  font-family: "Montserrat";
  font-weight: 700;
}

h2 {
  font-family: "PT Sans";
  font-weight: 600;
}

h3 {
  font-family: "PT Sans";
}

h4 {
  font-family: "PT Sans";
}
h6 {
  font-family: "PT Sans";
}

p {
  font-family: "Hind Madurai";
}

a {
  font-family: "Montserrat";
  text-decoration: none;
}


.dashboard-container {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.dashboard-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-subtitle {
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 30px;
}

.dashboard-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.dashboard-link {
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: #ff204e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
}

.dashboard-link:hover {
  background-color: #e01c46;
}

.dashboard-section {
  margin-bottom: 40px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar1 {
  border-radius: 50%; /* Garante que o avatar fique redondo */
  border: 3px solid #060606; /* Borda azul */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Mantém o aspecto proporcional */
  width: 120px; /* Define largura fixa */
  height: 120px; /* Define altura fixa para manter a forma circular */
}
